<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
		 
<meta charset="utf-8">		 
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>快拍客</title>		 
<style>
			html, body {
				height: 100%;
			}

			body {
				background-color: #000000;
				margin: 0;
				font-family: Arial;
				overflow: hidden;
			}

			a {
				color: #ffffff;
			}

			#info {
				position: absolute;
				width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
			}

			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}

			.element {
				width: 120px;
				height: 160px;
				box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
				border: 1px solid rgba(127,255,255,0.25);

				cursor: default;
			}

			.element:hover {
				box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
				border: 1px solid rgba(127,255,255,0.75);
			}
				
				.element img {
					position: absolute;
					border:none;
				}
				
				.element .number {
					position: absolute;
					top: 20px;
					right: 20px;
					font-size: 12px;
					color: rgba(127,255,255,0.75);
				}

				.element .symbol {
					position: absolute;
					top: 40px;
					left: 0px;
					right: 0px;
					font-size: 60px;
					font-weight: bold;
					color: rgba(255,255,255,0.75);
					text-shadow: 0 0 10px rgba(0,255,255,0.95);
				}

				.element .details {
					position: absolute;
					bottom: 15px;
					left: 0px;
					right: 0px;
					font-size: 12px;
					color: rgba(127,255,255,0.75);
				}
				
			button {
				color: rgba(127,255,255,0.75);
				background: transparent;
				outline: 1px solid rgba(127,255,255,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			button:hover {
				background-color: rgba(0,255,255,0.5);
			}
			button:active {
				color: #000000;
				background-color: rgba(0,255,255,0.75);
			}
		</style>
	 
<meta name="GENERATOR" content="MSHTML 11.00.9600.16476">
		<link href="./stylesheets/lightbox.css" rel="stylesheet" />

</head>	 
<body style="">
	
<script src="./javascripts/jquery-1.10.2.min.js"></script>

<script src="./javascripts/lightbox-2.6.min.js"></script>
	
<script src="./javascripts/three.min.js"></script>
		 
<script src="./javascripts/tween.min.js"></script>
		 
<script src="./javascripts/TrackballControls.js"></script>
		 
<script src="./javascripts/CSS3DRenderer.js"></script>
		 
<div id="container"></div>
<div id="info">
	我们不是摄影师，我们也不懂美工，我们只是喜欢随手拍拍而已。我们是————<font size="5" color="red">快拍客！</font>
</div>
<div>
	<img src="./images/weixin.jpg" width="110px" ,height="110px"><br>
	<a href="http://www.kper.com.cn/" target="_blank"><h1>快拍客</h1></a>
	<font size="1" color="red">微信添加公共账号，发送图片<br>刷新！你的照片上墙了</font>

</div>

<div id="menu">
	<button id="table">单页墙</button>
	<button id="sphere">球形墙</button>
	<button id="helix">螺旋墙</button>
	<button id="grid">矩阵墙</button>
			 
<script>
			//建议值[9,9]
			var table = [];
			
			var camera, scene, renderer;
			var controls;

			var objects = [];
			var targets = { table: [], sphere: [], helix: [], grid: [] };
			
			getImgs();
			init();
			animate();

			function init() {

				camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.z = 3000;

				scene = new THREE.Scene();
				
				
				for ( var i = 0; i < table.length; i ++ ) {

					var element = document.createElement( 'div' );
					element.className = 'element';
					element.style.backgroundColor = 'rgba(0,127,127,' + ( Math.random() * 0.5 + 0.25 ) + ')';

					var a = document.createElement('a');
					a.href =  'photo/' + table[ i ][0];
					a.setAttribute('data-lightbox','roadtrip');
					a.setAttribute('title',a.href.substr(a.href.lastIndexOf('/')+1));
//					a.setAttribute('text-align','center');
					
					var image=new Image();
					image.src='photoResize/'+table[ i ][0];
					a.appendChild(image)
					
					element.appendChild( a );

					var object = new THREE.CSS3DObject( element );
					object.position.x = Math.random() * 4000 - 2000;
					object.position.y = Math.random() * 4000 - 2000;
					object.position.z = Math.random() * 4000 - 2000;
					scene.add( object );

					objects.push( object );

					var object = new THREE.Object3D();
					object.position.x = ( table[ i ] [1] * 140 ) - 1330;
					object.position.y = - ( table[ i ] [2]* 180 ) + 990;
					targets.table.push( object );					

					image.addEventListener('load',function(event)
					{
						resizeImg(this,120,160);
					},false);

				}

				// sphere

				var vector = new THREE.Vector3();

				for ( var i = 0, l = objects.length; i < l; i ++ ) {

					var phi = Math.acos( -1 + ( 2 * i ) / l );
					var theta = Math.sqrt( l * Math.PI ) * phi;

					var object = new THREE.Object3D();

					object.position.x = 800 * Math.cos( theta ) * Math.sin( phi );
					object.position.y = 800 * Math.sin( theta ) * Math.sin( phi );
					object.position.z = 800 * Math.cos( phi );

					vector.copy( object.position ).multiplyScalar( 2 );

					object.lookAt( vector );

					targets.sphere.push( object );

				}

				// helix

				var vector = new THREE.Vector3();

				for ( var i = 0, l = objects.length; i < l; i ++ ) {

					var phi = i * 0.175 + Math.PI;

					var object = new THREE.Object3D();

					object.position.x = 900 * Math.sin( phi );
					object.position.y = - ( i * 8 ) + 450;
					object.position.z = 900 * Math.cos( phi );

					vector.x = object.position.x * 2;
					vector.y = object.position.y;
					vector.z = object.position.z * 2;

					object.lookAt( vector );

					targets.helix.push( object );

				}

				// grid

				for ( var i = 0; i < objects.length; i ++ ) {

					var object = new THREE.Object3D();

					object.position.x = ( ( i % 5 ) * 400 ) - 800;
					object.position.y = ( - ( Math.floor( i / 5 ) % 5 ) * 400 ) + 800;
					object.position.z = ( Math.floor( i / 25 ) ) * 1000 - 2000;

					targets.grid.push( object );

				}

				//

				renderer = new THREE.CSS3DRenderer();
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.domElement.style.position = 'absolute';
				document.getElementById( 'container' ).appendChild( renderer.domElement );

				//

				controls = new THREE.TrackballControls( camera, renderer.domElement );
				controls.rotateSpeed = 0.5;
				controls.minDistance = 500;
				controls.maxDistance = 6000;
				controls.addEventListener( 'change', render );

				var button = document.getElementById( 'table' );
				button.addEventListener( 'click', function ( event ) {

					transform( targets.table, 2000 );

				}, false );

				var button = document.getElementById( 'sphere' );
				button.addEventListener( 'click', function ( event ) {

					transform( targets.sphere, 2000 );

				}, false );

				var button = document.getElementById( 'helix' );
				button.addEventListener( 'click', function ( event ) {

					transform( targets.helix, 2000 );

				}, false );

				var button = document.getElementById( 'grid' );
				button.addEventListener( 'click', function ( event ) {

					transform( targets.grid, 2000 );

				}, false );

				//transform( targets.table, 5000 );
				transform( targets.helix, 2000 );
				//

				window.addEventListener( 'resize', onWindowResize, false );

			}

			function transform( targets, duration ) {

				TWEEN.removeAll();

				for ( var i = 0; i < objects.length; i ++ ) {

					var object = objects[ i ];
					var target = targets[ i ];

					new TWEEN.Tween( object.position )
						.to( { x: target.position.x, y: target.position.y, z: target.position.z }, Math.random() * duration + duration )
						.easing( TWEEN.Easing.Exponential.InOut )
						.start();

					new TWEEN.Tween( object.rotation )
						.to( { x: target.rotation.x, y: target.rotation.y, z: target.rotation.z }, Math.random() * duration + duration )
						.easing( TWEEN.Easing.Exponential.InOut )
						.start();

				}

				new TWEEN.Tween( this )
					.to( {}, duration * 2 )
					.onUpdate( render )
					.start();

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );

				TWEEN.update();
				controls.update();

			}

			function render() {

				renderer.render( scene, camera );

			}

			// 说明：用 JavaScript 实现网页图片等比例缩放 
			function resizeImg(image,distWidth,distHeight) 
			{ 
				srcWidth = image.width;
				srcHeight = image.height;
				var ratio = 1;
				if(srcWidth>0 && srcHeight>0) 
				{ 
					if(srcWidth/srcHeight>= distWidth/distHeight) 
					{ 
						if(srcWidth>distWidth) 
						{ 
							ratio = distWidth/srcWidth; 
						} 
					} 
					else 
					{ 
						if(srcHeight>distHeight) 
						{ 
							ratio = distHeight/srcHeight; 
						} 
					} 
				} 
				var width = srcWidth*ratio;
				var heigh = srcHeight*ratio;
				
				image.style.width = width.toString() + 'px';
				image.style.height = heigh.toString() + 'px';

				if(width < distWidth)
					image.style.paddingLeft = ((distWidth - width)/2).toString() + 'px';
					
				if(heigh < distHeight)
					image.style.paddingTop = ((distHeight - heigh)/2).toString() + 'px';
			} 	
			
			//获得指定文件夹图片名称列表
			function getImgs (){
				var arrfiles = [{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140118103553~09757900.jpg","size":13.99,"time":"2014-01-18 10:35:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140118103437~07327600.jpg","size":11.97,"time":"2014-01-18 10:34:37"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140116161025~67162700.jpg","size":9.43,"time":"2014-01-16 16:10:26"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140116161025~73030400.jpg","size":8.07,"time":"2014-01-16 16:10:26"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114234428~12461000.jpg","size":11.18,"time":"2014-01-14 23:44:30"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114234034~68104000.jpg","size":7.73,"time":"2014-01-14 23:40:37"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233950~73724100.jpg","size":10.85,"time":"2014-01-14 23:39:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233917~33473900.jpg","size":10.9,"time":"2014-01-14 23:39:21"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233814~01196200.jpg","size":10,"time":"2014-01-14 23:38:19"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233748~94671800.jpg","size":11.95,"time":"2014-01-14 23:37:52"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233654~34097000.jpg","size":10.07,"time":"2014-01-14 23:36:58"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233653~38631700.jpg","size":10.85,"time":"2014-01-14 23:36:56"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233647~88082700.jpg","size":10.07,"time":"2014-01-14 23:36:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233543~30952800.jpg","size":12.41,"time":"2014-01-14 23:35:46"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233444~30963900.jpg","size":11.74,"time":"2014-01-14 23:34:46"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233417~94619700.jpg","size":8.71,"time":"2014-01-14 23:34:20"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233345~44270800.jpg","size":12,"time":"2014-01-14 23:33:48"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233321~02857700.jpg","size":11.8,"time":"2014-01-14 23:33:38"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233142~05267000.jpg","size":10.21,"time":"2014-01-14 23:31:44"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233140~31329200.jpg","size":11.62,"time":"2014-01-14 23:31:42"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233134~08633000.jpg","size":8.23,"time":"2014-01-14 23:31:36"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114233054~45472100.jpg","size":9.36,"time":"2014-01-14 23:30:56"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232958~43072000.jpg","size":11.87,"time":"2014-01-14 23:30:00"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232926~34311600.jpg","size":10.91,"time":"2014-01-14 23:29:28"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232925~28800200.jpg","size":11.34,"time":"2014-01-14 23:29:27"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232841~10826500.jpg","size":10.42,"time":"2014-01-14 23:28:43"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232828~68732500.jpg","size":9.15,"time":"2014-01-14 23:28:30"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232659~00196000.jpg","size":14.23,"time":"2014-01-14 23:27:00"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232642~65378200.jpg","size":14.23,"time":"2014-01-14 23:26:49"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232639~50964400.jpg","size":8.76,"time":"2014-01-14 23:26:46"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232637~85524000.jpg","size":9.28,"time":"2014-01-14 23:26:45"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232621~29724500.jpg","size":9.28,"time":"2014-01-14 23:26:32"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232623~44732000.jpg","size":8.76,"time":"2014-01-14 23:26:31"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232600~89210300.jpg","size":8.76,"time":"2014-01-14 23:26:11"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232235~95049400.jpg","size":11.78,"time":"2014-01-14 23:22:38"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232201~46588300.jpg","size":11.88,"time":"2014-01-14 23:22:04"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232044~32779000.jpg","size":10.03,"time":"2014-01-14 23:20:47"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114232015~13438500.jpg","size":10.36,"time":"2014-01-14 23:20:18"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231956~49453900.jpg","size":8.84,"time":"2014-01-14 23:19:59"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231643~23623000.jpg","size":10.64,"time":"2014-01-14 23:16:45"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231514~14273600.jpg","size":13.3,"time":"2014-01-14 23:15:16"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231509~02700000.jpg","size":9.33,"time":"2014-01-14 23:15:12"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231338~07358400.jpg","size":11.77,"time":"2014-01-14 23:13:40"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231250~58403300.jpg","size":11.61,"time":"2014-01-14 23:13:08"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231236~12844400.jpg","size":9.65,"time":"2014-01-14 23:12:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231242~86097000.jpg","size":9.65,"time":"2014-01-14 23:12:45"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231131~26995600.jpg","size":11.87,"time":"2014-01-14 23:11:34"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231111~91829600.jpg","size":11.87,"time":"2014-01-14 23:11:15"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231044~44995500.jpg","size":8.41,"time":"2014-01-14 23:10:47"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231038~10346600.jpg","size":8.41,"time":"2014-01-14 23:10:44"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231039~72294900.jpg","size":9.8,"time":"2014-01-14 23:10:43"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231037~36657800.jpg","size":8.55,"time":"2014-01-14 23:10:40"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231017~02349300.jpg","size":9.8,"time":"2014-01-14 23:10:32"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114231023~36318600.jpg","size":9.8,"time":"2014-01-14 23:10:29"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230912~55972000.jpg","size":12.44,"time":"2014-01-14 23:09:16"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230906~08796600.jpg","size":12.44,"time":"2014-01-14 23:09:12"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230814~23718900.jpg","size":11.5,"time":"2014-01-14 23:08:18"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230807~92942800.jpg","size":8.12,"time":"2014-01-14 23:08:13"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230610~25367700.jpg","size":11.42,"time":"2014-01-14 23:06:13"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230140~70997500.jpg","size":11.42,"time":"2014-01-14 23:01:57"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230149~47039300.jpg","size":11.42,"time":"2014-01-14 23:01:51"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230147~33187700.jpg","size":11.42,"time":"2014-01-14 23:01:50"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230136~77589400.jpg","size":11.44,"time":"2014-01-14 23:01:40"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230020~15456500.jpg","size":11.19,"time":"2014-01-14 23:00:22"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114230000~82701600.jpg","size":11.01,"time":"2014-01-14 23:00:04"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114225637~00555400.jpg","size":9.46,"time":"2014-01-14 22:56:42"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114162624~68782300.jpg","size":16.55,"time":"2014-01-14 16:26:30"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114162618~40212100.jpg","size":16.55,"time":"2014-01-14 16:26:28"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114162056~06001800.jpg","size":9.06,"time":"2014-01-14 16:20:56"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161204~81645200.jpg","size":11.76,"time":"2014-01-14 16:12:06"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161201~27950500.jpg","size":15.58,"time":"2014-01-14 16:12:02"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161159~78408400.jpg","size":13.28,"time":"2014-01-14 16:12:01"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161157~56146400.jpg","size":12.16,"time":"2014-01-14 16:11:59"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161148~34377200.jpg","size":11.05,"time":"2014-01-14 16:11:48"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114161132~27581400.jpg","size":10.85,"time":"2014-01-14 16:11:32"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114155957~00724000.jpg","size":6.17,"time":"2014-01-14 15:59:58"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140114155948~41002600.jpg","size":5.97,"time":"2014-01-14 15:59:49"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113134022~17240100.jpg","size":11.35,"time":"2014-01-13 13:40:23"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133948~52014500.jpg","size":8.79,"time":"2014-01-13 13:39:50"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133847~62801300.jpg","size":13.97,"time":"2014-01-13 13:38:49"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133830~66579400.jpg","size":10.53,"time":"2014-01-13 13:38:32"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133822~90803400.jpg","size":11.67,"time":"2014-01-13 13:38:24"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133819~02779100.jpg","size":15.88,"time":"2014-01-13 13:38:20"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133749~93594800.jpg","size":10.27,"time":"2014-01-13 13:37:51"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113133730~12906900.jpg","size":9.71,"time":"2014-01-13 13:37:32"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132634~50423800.jpg","size":11.16,"time":"2014-01-13 13:26:36"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132631~57836500.jpg","size":11.46,"time":"2014-01-13 13:26:33"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132624~94350400.jpg","size":11.21,"time":"2014-01-13 13:26:26"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132410~56482100.jpg","size":9.73,"time":"2014-01-13 13:24:11"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132348~79223800.jpg","size":10.78,"time":"2014-01-13 13:23:49"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132216~70244400.jpg","size":21.42,"time":"2014-01-13 13:22:19"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132116~33086500.jpg","size":11.67,"time":"2014-01-13 13:21:19"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113132039~55537400.jpg","size":11.33,"time":"2014-01-13 13:20:41"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140113131647~71794700.jpg","size":12.57,"time":"2014-01-13 13:16:50"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140112110816~66427600.jpg","size":17.31,"time":"2014-01-12 11:08:16"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140112110636~33269200.jpg","size":16.11,"time":"2014-01-12 11:06:36"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140111104612~34262500.jpg","size":7.1,"time":"2014-01-11 10:46:13"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144458~89374200.jpg","size":6.97,"time":"2014-01-09 14:44:59"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144457~71122900.jpg","size":19.68,"time":"2014-01-09 14:44:57"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144455~71265900.jpg","size":7.68,"time":"2014-01-09 14:44:55"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144453~14158800.jpg","size":9.51,"time":"2014-01-09 14:44:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144453~64747700.jpg","size":9.14,"time":"2014-01-09 14:44:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144448~27022600.jpg","size":9.81,"time":"2014-01-09 14:44:48"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144352~87588200.jpg","size":15.72,"time":"2014-01-09 14:43:53"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144352~55916800.jpg","size":20.22,"time":"2014-01-09 14:43:52"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144351~65531200.jpg","size":16.69,"time":"2014-01-09 14:43:51"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109144345~83529200.jpg","size":20.11,"time":"2014-01-09 14:43:45"},{"name":"ozKfgjrveB3dMrB53rqjPsK2gCGs-20140109125648~74305800.jpg","size":21.82,"time":"2014-01-09 12:56:49"}];
				var row =1;
				var col = 1;
				for(var i = 0; i < arrfiles.length;i++)
				{
					var file = [];
					file[0] = arrfiles[i]['name'];
					file[1] = col++;
					file[2] = row;
					table[i] = file;
					if(col > 18)
					{
						col = 1;
						row++;
					}
				}	
			}

		
		</script>
	 </div>
 

</body>

</html>